<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <title>Document</title>
</head>
<body>
    <a class ="btn btn-primary btn-xs" href="">Anchor tag</a>
    <a class ="btn btn-danger btn-sm" href="">Anchor tag</a>
    <a class ="btn btn-info btn-md" href="">Anchor tag</a>
    <a class ="btn btn-success btn-lg" href="">Anchor tag</a>
    <button class="btn btn-primary btn-xs">Button tag</button>
    <button class="btn btn-danger btn-sm">Button tag</button>
    <button class="btn btn-info btn-md">Button tag</button>
    <button class="btn btn-success btn-lg">Button tag</button>
    <input type="button" class="btn btn-primary btn-xs" value="Input as button">
    <input type="button" class="btn btn-danger btn-sm" value="Input as button">
    <input type="button" class="btn btn-info btn-md" value="Input as button">
    <input type="button" class="btn btn-success btn-lg" value="Input as button">
    
</body>
</html>