<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <title>Document</title>
</head>
<body>
    <div class="btn-group">
        <button class="btn btn-success">Button one</button>
        <button class="btn btn-info">Button two</button>
        <button class="btn btn-danger">Button three</button>
        <button class="btn btn-warning">Button four</button>
        <button class="btn btn-default">Button five</button>
    </div>
    
</body>
</html>