<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class=" col-xs-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="panel-title">
                            My heading title
                        </div>
                    </div>
                    <div class="panel-body">
                        My fantastic panel
                    </div>
                    <div class="panel-footer">
                        My panel footer
                    </div>
                </div>
            </div>
            <div class=" col-xs-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            My heading title
                        </div>
                    </div>
                    <div class="panel-body">
                        My fantastic panel
                    </div>
                    <div class="panel-footer">
                        My panel footer
                    </div>
                </div>
            </div>
            <div class=" col-xs-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <div class="panel-title">
                            My heading title
                        </div>
                    </div>
                    <div class="panel-body">
                        My fantastic panel
                    </div>
                    <div class="panel-footer">
                        My panel footer
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>